<div class="#historized#" align="left" data-cmd_id="#cmd_id#" style="padding-top:4px;margin-left:5px">
    <span class="fa" style="width: 15px;max-width: 15px;max-height: 15px;">#cmd_icon#</span>
    <span>#cmd_action#</span>
    <span style="font-size: 0.7em;">#cmd_name#</span>
</div>
<script>
  $('.eqLogic[data-eqLogic_id=#id#] .#cmd_id#_selectCmd').on('change', function () {
    $('.eqLogic[data-eqLogic_id=#id#] .statusCmd').append('<i data-rikaha="processing" class="fa fa-rss" style="margin-top: 3px;margin-right: 3px;"></i>');
    jeedom.cmd.execute({id: '#cmd_id#', value: $(this).val()});
    setTimeout(function(){$("[data-rikaha=processing]").remove();}, 2500);
  });
</script>
